@font-face{
  font-family: "Sriskdi";
  src: url("https://fonts.googleapis.com/css?family=Srisakdi");
}
@font-face{
  font-family:"Calligraffitti";
  src: url("https://fonts.googleapis.com/css?family=Calligraffitti");
}

header{
  height: 200px;
}
h1{
  text-align: center;
}
body{
  background-color:rgba(113, 133, 186, 0.2);
  font-family: Sriskdi, Calligraffitti, sans-serif;
  color:black;
  font-style: italic;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url('God2-Sistine_Chapel2_opt-lanczos3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.75;
}

.double{
  justify-content: space-around;
}
.construction{
  margin: 2em;
  border: 2px grey solid;
  border-radius: 1em;
  padding:2em;
  background-image: url('construction-deconstruction-1-phil-vance.jpg');
  color:black;
  text-shadow:  2px 2px white;
}
.formul{
  text-align: center;
  margin: 2em;
  border: 2px grey solid;
  border-radius: 1em;
  padding: 2em;
}
.envoie{
  justify-content: flex-end;
}
footer{
  width:100%;
  text-align: center;
}
